@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  color: rgb(var(--foreground-rgb));
  background: whitesmoke;
  font-family: 'Open Sans', sans-serif;
}

.btn-primary {
  @apply text-white px-[30px] py-[8px] rounded-[2rem] bg-primary hover:opacity-90 transition-all;

}

.slick-dots{
  @apply !flex justify-start w-full;
}

.slick-dots .slick-active div{
  @apply bg-primary;
}

.slick-dots .slick-active div {
  @apply !w-4 !h-4 ;
}


